@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{ padding: 0; margin:0; box-sizing: border-box; font-family: 'Roboto', sans-serif; user-select: none;}

:root{

    --text-color: #FFFFFF;
    --card-font-color: #FFFFFF;
    --principal-color: #F7BD12;
    --principal-color-shadow: #DAA402;
    --icon: #999999;
    --icon-shadow: #757575;
    --box-text:  #dbdbdb;
    --font: #20242E;
    --link-color: #000000;

}

.container{

    width: 400px;
    height: 650px;
    background: var(--card-font-color);
    border-radius: 8px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.form{

    width: 280px;
    height: 65px;
    border-radius: 8px 0px 0px;
    background: linear-gradient(135deg,var(--principal-color) 95%, transparent 5%);
    color: var(--text-color);

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

.name, .edad, .email, .password, .document, .identify{

    width: 80%;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;

}

input[type="text"], input[type="number"],input[type="password"], input[type="email"]{

    padding: 12px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    background: var(--box-text);

}

.identify input[type="text"]{ cursor: default; }

select{

    padding: 12px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    background: var(--box-text);
    appearance: none;
    cursor: pointer;
}

input[type="submit"]{

    padding: 15px;
    font-size: 15px;
    width: 80%;
    border: none;
    cursor: pointer;
    background: var(--principal-color);
    border-radius: 5px;
    transition: 0.5s;
    color: var(--text-color);

}

input[type="submit"]:hover{ background: var(--principal-color-shadow); transition: 0.5s; }

.bx-text, .bxs-user, .bxs-envelope, .bxs-lock, .bx-id-card{

    position: absolute;
    font-size: 20px;
    right: 18px;
    color: var(--icon);
    transition: 0.4s;

}

.bxs-lock, .bxs-lock-open{ cursor: pointer; }

.bxs-lock-open:hover{ color: var(--icon-shadow); transition: 0.4s;}
.bxs-lock:hover{ color: var(--icon-shadow); transition: 0.4s;}

div.alert{

    width: 400px;

    position: fixed;
    bottom: 0;
    right: 0;

}

